.milkybar-logo {
    background-image: url(https://generation-sessions.s3.amazonaws.com/23d9ece802f35b86acc77dc522da359d/img/milkybar-logo-01-1-1@2x.png);
    background-size: 100% 100%;
    height: 105px;
    width: 210px;
  }
  